Package: [[name]]
Version: [[version]]
Architecture: all
Maintainer: ${ownerName} <${ownerEmail}>
Section: web
Priority: optional
Depends: logmanager-server | logmanager-radio
Description: [[description]]
